<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='CSS/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='CSS/login_style.css') }}"
    />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Forgot Password</title>

    <style>
        .innerimg{
    /* background-color: rgb(19, 26, 26); */
    height: 100%;
width: 55%;
background-image: url("/static/forgot.jpg");
background-size: 33.3rem;
background-position-x: center;
background-repeat: no-repeat;
overflow: hidden;
box-shadow: 0 -18px 40px -20px rgb(0 0 0 / 34%);
}
    </style>
  </head>
  <body>
    <div class="container">
      <div class="box">
        <div class="nav">
          <div class="heading">
            <a href="/"
              ><p>One<span id="health">health</span></p></a
            >
          </div>
          <div class="navhold">
          <div class="subheading">
            <a href="/signup"><p>Signup</p></a>
          </div>

          <div class="dropdown">
            <button class="dropbtn">Switch Role</button>
            <div class="dropdown-content">
              <a href="/adminLogin">Admin</a>
              <a href="/doctorLogin">Doctor</a>
              <a href="/login">Patient</a>
            </div>
          </div>

        </div>
        </div>
        <div class="homecontent">
          <div class="outerbox">
            <div class="innerimg"></div>
            <div class="loginform">
<div class="loginhold">
              <div class="title">Forgot Password</div>
            <div class="content">
              <form action="/sentmail" method="post">
                <div class="user-details">
                  <div class="input-box">
                    <span class="details">Email</span>
                    <input type="email" placeholder="Enter your email" name="txtmail" required />
                  </div>


                  <div class="button">
                    <input type="submit" value="Submit" />
                  </div>
                </div>
              </form>
            </div>
          </div>
          </div>
        </div>
      </div>

      <div>
        <!-- Begin alerts -->
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %}
        <script>
          Swal.fire({
            title: "{{ category.title() }}!",
            // success , error , warning ,info

            text: "{{ message }}",
            // Custom message flashed from your flask routes

            icon: "{{ category }}" == "danger" ? "error" : "{{ category }}",
            // success , error , warning ,info
          });
        </script>
        {% endfor %} {% endif %} {% endwith %}

        <!-- End alerts -->
      </div>


    </div>
  </body>
</html>
