<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='CSS/style.css') }}"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='CSS/user_style.css') }}"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>User</title>
  </head>
  <body>
    <div class="container">
      <div class="box">
        <div class="nav">
          <div class="heading">
            <a href="#"
              ><p>One<span id="health">health</span></p></a
            >
          </div>
          <div class="subheading">
            <a href="/login"><p>Login</p></a>
            <a href="/signup"><p>Logout</p></a>
          </div>
        </div>

        <div class="bodyhold">
          <div class="sidebar">
            <div class="sidehold">
              <div class="optionhold">
                <div class="icon"><i class="fa-solid fa-house-user"></i></div>
                <div class="option">Home</div>
              </div>

              <div class="optionhold">
                <div class="icon"><i class="fa-solid fa-disease"></i></div>
                <div class="option">Diabetes</div>
              </div>

              <div class="optionhold">
                <div class="icon"><i class="fa-solid fa-heart-pulse"></i></div>
                <div class="option">Heart Disease</div>
              </div>

              <div class="optionhold">
                <div class="icon">
                  <i class="fa-solid fa-calendar-check"></i>
                </div>
                <div class="option">Doctor Appointment</div>
              </div>

              <div class="optionhold">
                <div class="icon"><i class="fa-solid fa-shield-virus"></i></div>
                <div class="option">Health Update</div>
              </div>
            </div>
          </div>
          <div class="containthold"></div>
        </div>
      </div>
    </div>
  </body>
</html>
